.app-container {
  display: flex;
  flex-direction: column;
  flex: auto;
  align-content: center;
  justify-content: space-between;
}

.main-container {
  margin: 0 auto 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* background */
@media screen and (min-width: 1921px) {
  .no-webp .app-container {
    background: url(/src/images/background/background_light_3840.jpg);
    overflow: scroll;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .webp .app-container {
    background: url(/src/images/background/background_light_3840.webp);
    overflow: scroll;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1920px) {
  .no-webp .app-container {
    background: url(/src/images/background/background_light_1920.jpg);
    overflow: scroll;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .webp .app-container {
    background: url(/src/images/background/background_light_1920.webp);
    overflow: scroll;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1280px) {
  .no-webp .app-container {
    background: url(/src/images/background/background_light_1280.jpg);
    overflow: scroll;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .webp .app-container {
    background: url(/src/images/background/background_light_1280.webp);
    overflow: scroll;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 640px) {
  .no-webp .app-container {
    background: url(/src/images/background/background_light_960.jpg);
    overflow: scroll;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .webp .app-container {
    background: url(/src/images/background/background_light_960.webp);
    overflow: scroll;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
