.app-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 7fr 86fr 7fr;
}

.component-mobile {
  display: grid;
}
.component-desktop {
  display: none;
}
.description {
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .component-mobile {
    display: none;
  }
  .component-desktop {
    display: grid;
  }
  .description {
    font-size: 3rem;
  }
}
