.grid {
  display: grid;
  width: 100%;
  height: 100%;
}

.main-container-mobile {
  justify-items: center;
  align-items: center;
}

.main-container-content {
  border-radius: 15px;
  background-color: rgb(242, 242, 242, 0.85);
  width: 80%;
  height: 80%;
  grid-template-rows: 1fr 3fr 1fr;
}

.clock-container {
  display: grid;
  justify-items: center;
  align-items: self-end;
}
.description-container-mobile {
  display: grid;
  min-height: fit-content;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 2rem;
}

.synchronizer-container {
  display: grid;
  justify-items: center;
  align-items: self-start;
}

.clock {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 5rem;
}

@media screen and (max-width: 420px) {
  .description {
    margin: 1rem;
  }
}
