.modal-desktop-window {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  min-height: fit-content;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  width: 80%;
  height: 70%;
  /* background-color: rgb(231, 225, 219); */
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 25px black;
  border-radius: 15px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-desktop-clock {
  margin: 0;
  font-size: 5rem;
  display: grid;
  justify-items: center;
}

.btn--close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5%;
}

.btn--responsive-desktop {
  margin: 1rem;
  width: 3vw;
  height: auto;
}

.modal-year-container {
  min-height: fit-content;
  display: grid;
  justify-items: center;
  align-items: center;
}

.modal-content-container {
  display: grid;
  min-height: fit-content;
  justify-items: center;
  align-items: center;
}

.modal-nav-container {
  min-height: fit-content;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.text-desktop {
  min-height: fit-content;
  font-size: 2rem;
}

@media screen and (max-height: 420px) {
  .btn--responsive-desktop {
    margin: 1rem;
    width: 5%;
    height: auto;
  }
  .modal-desktop-clock {
    font-size: 2rem;
  }
  .text-desktop {
    font-size: 1rem;
  }
  .btn--close {
    width: 3%;
  }
  .btn--responsive-desktop {
    width: 5%;
    height: auto;
  }
}
