.modal-mobile-window {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  min-height: fit-content;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  width: 93%;
  height: 80%;
  /* background-color: rgb(231, 225, 219); */
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 25px black;
  border-radius: 15px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-mobile-clock {
  margin: 0;
  font-size: 5rem;
  display: grid;
  justify-items: center;
}

.btn--close-mobile {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10%;
}

.btn--responsive-mobile {
  margin: 1rem;
  width: 10%;
  height: auto;
}

.modal-year-container {
  min-height: fit-content;
  display: grid;
  justify-items: center;
  align-items: center;
}

.modal-content-container {
  display: grid;
  min-height: fit-content;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 2rem;
}

.modal-nav-container {
  min-height: fit-content;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.btn--close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5%;
}

.text-mobile {
  min-height: fit-content;
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  .modal-mobile-clock {
    margin: 0;
    font-size: 4rem;
    display: grid;
    justify-items: center;
  }
  .text-mobile {
    min-height: fit-content;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .text-mobile {
    min-height: fit-content;
    font-size: 1rem;
  }
}

@media screen and (max-height: 420px) {
  .text-mobile {
    min-height: fit-content;
    font-size: 1rem;
  }
  .btn--responsive-mobile {
    margin: 1rem;
    width: 5%;
    height: auto;
  }
  .modal-mobile-clock {
    font-size: 3rem;
  }
}

@media screen and (min-width: 700px) {
  .text-mobile {
    min-height: fit-content;
    font-size: 1rem;
  }
  .btn--responsive-mobile {
    margin: 1rem;
    width: 5%;
    height: auto;
  }
  .modal-mobile-clock {
    font-size: 3rem;
  }
}
