#navbar-wrapper {
  width: 100%;
}

#navbar-wrapper ol,
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#navbar-items {
  position: relative;
}

#navbar-items li {
  text-align: center;
  /* padding: 2rem; */
  letter-spacing: 0.2rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: -100%;
  top: 40px;
  opacity: 1;
  transition: all 0.5s ease;
}

#navbar-items {
  background: rgba(255, 255, 255, 0.85);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: default;

  justify-items: center;
}

.nav-menu.active {
  background: rgba(255, 255, 255, 0.85);
  left: 0;
  position: absolute;
  top: 40px;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}
.nav-links {
  text-align: center;
  padding: 1rem;
  width: 100%;
  display: table;
  cursor: pointer;
}

.menu-icon {
  font-size: 2rem;
  padding: 0.5rem;
  display: block;
  cursor: pointer;
}

h1 {
  display: inline-block;
  margin: 0;
}

.nav-hidden {
  display: none;
}
#navbar-items ul {
  padding: 0;
}

#navbar-items ul,
li {
  list-style: none;
}

/* media queries */

@media screen and (min-width: 1025px) {
  .menu-icon {
    display: none;
  }

  #navbar-items {
    background: rgba(255, 255, 255, 0.85);
    justify-items: center;
    width: 100%;
    justify-content: center;
  }

  #navbar-items ul {
    padding: 0.5rem;
  }

  #navbar-items li {
    padding: 1rem;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    width: auto;
    display: table;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    position: initial;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-logo {
    display: flex;
    white-space: nowrap;
  }

  .nav-logo a {
    align-self: center;
  }

  h1 {
    display: inline-block;
    text-align: center;
  }
}

.navbar-link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
.navbar-link:focus {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.navbar-link:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.navbar-link:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.navbar-link:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  margin: 0.5rem;
}
