.btn--synchronizer {
  margin: 0.5rem;
  width: fit-content;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 3rem;
  white-space: nowrap;
  text-align: center;
  outline-width: 0;
  border: 1px solid black;
}
.btn--mechanism {
  background-color: transparent;
  border-radius: 3px;
}

@media screen and (min-width: 1025px) {
  .btn {
    font-size: 1.5rem;
  }
}

.synchronizer-container {
  display: grid;
  justify-items: center;
  align-items: self-start;
}
