@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

article {
  text-align: center;
}

main {
  display: block;
}

html {
  height: 100vh;
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  height: -webkit-fill-available;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  height: 100%;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

/* scroll */

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
