@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* General */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
article {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
}
