@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

article {
  padding: 1rem;
  text-align: center;
}

main {
  display: block;
}

html {
  height: 100vh;
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  height: -webkit-fill-available;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  background: url(./images/background_mobile_light.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
    background: url(./images/background_desktop_light.jpg) no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
@media screen and (min-width: 1921px) {
  body {
    font-size: 2rem;
    background: url(./images/background_desktop_light_4k.jpg) no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
